{% extends "layout.html" %} {% block content %}

<style>
  .wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-bottom: 10px;
    border-color: #090c14;
    border-width: 1px;
  }
  .wrapper > div {
    background: #ffffff;
    padding: 1em;
    text-align: center;
  }

  p {
    font-size: 20px;
  }

  h1 {
    text-align: center;
  }
</style>

<h1>Online Users</h1>

<div class="wrapper">
  {% for i in allusers %} {% if i in users %}
  <div style="color: green"><p>{{i}}</p></div>
  {% endif %} {% endfor %} {% for i in allusers %} {% if i not in users %}
  <div style="color: red"><p>{{i}}</p></div>
  {% endif %} {% endfor %} {%endblock%}
</div>
